{% extends 'layout.html' %}

{% block title %} {{ title }} {% endblock %}

    {% block content %} 
	<h1>Registration Page</h1>
    <form method="POST" action="{{ url_for('register')}}">
        <table>
            <tr>
                <td>Name</td>
                <td>:&nbsp;<input type="text" name="name"/></td>
            </tr>
            <tr>
                <td>Email</td>
                <td>:&nbsp;<input type="email" name="email"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>:&nbsp;<input type="password" name="password"/></td>
            </tr>
        </table>
        <button type="submit">Register</button>
    </form>
	{% endblock content %} 

